/* define universal font */
* {
  background-color: #f0ece2;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  text-align: left;
}

p {
  font-size: 1.5em;
}

li a {
  font-weight: bold;
  color: #852239;
}

li a:hover {
  font-weight: bolder;
  color: #b995a1;
  transition-duration: 0.5s;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

nav li {
  padding: 1em;
}

a:hover img {
  opacity: 0.5;
  transition-duration: 0.5s;
}

/* define style for horizontal line */
hr {
  border: none;
  height: 1px;
  width: 5%;
  background-color: #b995a1;
  box-shadow: 0 0px 10px 10px #b995a1;
}

/* define a container for the layout */
.container {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #headshot {
  max-width: 40%;
}

.project {
  max-width: 100%;
}
.project img {
  max-width: 100%;
}
.project a {
  color: #2f2f30;
}
.project a:hover {
  color: #852239;
  transition-duration: 0.5s;
}

/* define the styles for the project title */
.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* define the styles for the project image */
.project-image {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}

/*define project overview*/
.projectview-container {
  display: flex;
  flex-wrap: wrap;
}

.overview-obj {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  min-width: 25%;
}
.overview-obj ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.overview-obj li {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* define the styles for the project description */
#project-description {
  font-size: 16px;
  margin-bottom: 16px;
}

/* define the styles for the project screenshots section */
#project-screenshots {
  margin-bottom: 16px;
}

/* define the styles for the screenshot grid */
.screenshot-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* define the styles for the individual screenshots */
.screenshot-grid img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* define the styles for the project tech stack section */
#project-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-about a h2 {
  color: #852239;
}
#project-about a h2:hover {
  color: #b995a1;
  transition-duration: 0.5s;
}

/*define img as a link*/
.img-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-container img {
  align-items: center;
  max-width: 35%;
  max-height: 35%;
}

/* define a footer for the layout */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  font-size: 1em;
}

/* define a footer list attributes */
footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

/* define a footer list attributes */
footer ul li {
  margin-left: 2em;
  margin-right: 2em;
}

/* define email portal attributes */
.email {
  margin-top: 3vh;
}
.email a {
  text-decoration: none;
  color: #852239;
  font-weight: bold;
}
.email p {
  font-weight: bold;
}
.email :hover {
  color: #b995a1;
  transition-duration: 0.5s;
}/*# sourceMappingURL=main.css.map */